header
  position: fixed
  top: 0
  left: 0
  display: flex
  justify-content: space-between
  align-items: center
  width: 100vw
  padding: 0 5vw
  box-sizing: border-box
  min-height: 64px
  background-color: white
  .nav
    display: flex
    justify-content: flex-end
    a
      padding: 0 8px
      text-decoration: none
      color: black
@media(max-width: 768px)
  header
    padding: 0 2vw
