/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
body {
    height: 100vh;
    width: 100vw;
    background: #f3fefe;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

@media all and (max-device-width: 767px), all and (max-width: 767px) {
    body {
        height: 100%;
        min-height: 100vh;
    }
}

.wrapper {
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 767px), all and (max-width: 767px) {
    .wrapper {
        padding: 0 2em;
    }
}

.wrapper .top {
    z-index: 1;
    margin-top: 10vh;
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .top div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media all and (max-device-width: 767px), all and (max-width: 767px)  {
    .wrapper .top {
        margin-bottom: 5vh;
        justify-content: space-around;
    }
}

.wrapper .top .register-button {
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: normal;
    background-image: linear-gradient(#8FE3E5, #00838F);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 15px 12px 0px #cccccc;
}

.wrapper .top .register-button .fas {
    margin-right: 10px;
    color: white;
}

.wrapper .bottom {
    z-index: 1;
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .bottom .calender {
    margin-left: 5px;
    color: #00838F;
}

@media all and (max-device-width: 767px), all and (max-width: 767px) {
    .wrapper .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper .bottom .detail-list:first-child {
        margin-bottom: 5em;
    }


    .wrapper .top .register-button {
        padding-top: 2vh;
        padding-bottom: 2vh;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 10px;
        font-size: 2rem;
    }

    .wrapper .bottom .detail-list {
        margin-bottom: 3em;
        text-align: center;
    }
}

.wrapper .gopher {
    position: absolute;
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    bottom: 0;
    height: 18vh;
    width: auto;
    z-index: 0;
}


@media all and (max-device-width: 767px), all and (max-width: 767px) {
    .wrapper .gopher {
        display: none;
    }
}

/*
    Typography
*/
.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 5px 5px 0;
    color: #00838F;
}

.subheading {
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 5px;
}

.description {
    font-size: 1rem;
}

@media all and (max-device-width: 767px), all and (max-width: 767px) {
    .heading {
        font-size: 2.5rem;
    }

    .subheading {
        font-size: 2rem;
    }

    .description {
        font-size: 1.5rem;
    }
}

/*
    Utility
*/
.inline {
    display: inline-flex;
}

.fab {
    margin-right: 5px;
    color: #00838F;
}

a {
    color: #375EAB;
}

code {
    background: #fbfbfb;
    color: #f94949;
    padding: 0 5px;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
}
