/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
body {
    height: 100vh;
    width: 100vw;
    background: #FFF;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

@media (max-width: 767px) {
    body {
        height: 100%;
        min-height: 100vh;
    }
}

.wrapper {
    height: 100%;
    position: relative;
    padding: 0 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper .top {
    z-index: 1;
    margin-top: 10em;
}

.wrapper .bottom {
    z-index: 1;
    width: 100%;
    margin-bottom: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .wrapper .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

.gopher {
    position: absolute;
    transform: translate3d(-50%, 0, 0);
    left: 50%;
    bottom: 0;
    height: 15em;
    width: auto;
    z-index: 0;
}


/*
    Typography
*/
.heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0 5px 5px 0;
}

.subheading {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
}

.description {
    font-size: 16px;
}

/*
    Utility
*/
.inline {
    display: flex;
}

.fab {
    margin-right: 5px;
}
