<app-grid class="about-us page-container">
  <app-grid direction="column" class="left">
    <div class="title yellow bold">
      An open community For Everyone
    </div>
    <div class="large-desc grey">
      We want to init Go community in Nepal starting with meetups. The first event will be Gophers Nepal Meetup 101, where we meet face-to-face in Nepal(Kathmandu). We can chit-chat about Golang, share our experiments / challenges while using go or swag experiences we have built around it.
    </div>
  </app-grid>
</app-grid>
