<app-grid class="page-container">
  <app-grid direction="column" justify="space-between" class="left">
    <img src="assets/images/kathmandu.svg" alt="kathmandu" class="kathmandu">
    <app-grid>
      <div class="large-desc grey">Date: </div>
      <div class="large-desc grey bold">March 2, 2019</div>
    </app-grid>
  </app-grid>
  <app-grid direction="column" justify="space-between" class="right">
    <div class="title blue bold">Gopher Meetup 2019</div>
    <div class="large-desc grey">
      We want to init Go community in Nepal starting with meetups. The first event will be Gophers Nepal Meetup 101, where we meet face-to-face in Nepal(Kathmandu). We can chit-chat about Golang, share our experiments / challenges while using go or swag experiences we have built around it.
    </div>
    <app-grid>
      <div class="large-desc grey">Location :</div>
      <div class="large-desc grey bold">Kathmandu, Enliv</div>
    </app-grid>
  </app-grid>
</app-grid>
