<app-grid class="page-container">
  <app-grid direction="column" class="left">
    <img src="assets/images/kathmandu.svg" alt="kathmandu" class="kathmandu">
    <app-grid>
      <div class="large-desc grey">Date: </div>
      <div class="large-desc grey bold">March 2, 2019</div>
    </app-grid>
  </app-grid>
  <app-grid direction="column" class="right">
    <div class="title blue bold">Gopher Meetup 2019</div>
    <div class="large-desc grey">
      This conference is brought to you by
      the Go Language Community in
      India together with the Emerging
      Technology Trust (ETT). ETT is a non-
      profit organization, established to
      organize and conduct technology
      conferences in India. It’s current
      portfolio includes
    </div>
    <app-grid>
      <div class="large-desc grey">Location :</div>
      <div class="large-desc grey bold">Kathmandu, Enliv</div>
    </app-grid>
  </app-grid>
</app-grid>
