/* You can add global styles to this file, and also import other style files */
/* Typography */
.title
  font-size: 100px
.large-desc
  font-size: 48px

/* Colors */
.purple
  color: #C3ADEB
.blue
  color: #85EBF9
.yellow
  color: #FFE77D
.grey
  color: #A5BBCE
.bg-purple
  background-color: #C3ADEB
.bg-blue
  background-color: #85EBF9
.bg-yellow
  background-color: #FFE77D
.bg-grey
  background-color: #A5BBCE
