<app-grid class="page-container">
  <app-grid direction="column" align="flex-start" class="left">
    <img src="assets/images/golang.svg" alt="golang-logo" class="golang-logo">
    <div class="title purple bold">
      Community
    </div>
    <div class="large-desc grey">
      Gophers let's huddle up and dig some whole together
    </div>
    <div class="button-container">
      <app-button [round]="true" [color]="'purple'">See Events</app-button>
    </div>
  </app-grid>
  <app-grid direction="column" align="center" justify="space-between" class="right">
    <img src="assets/images/gopher-share.svg" alt="gopher share" class="gopher-share">
    <app-grid align="center">
      <div class="text bold join-us">
        Join Us
      </div>
      <div>
        <a href="#">
          <img src="assets/images/telegram-logo.svg" alt="telegram logo">
        </a>
        <a href="#">
          <img src="assets/images/slack-logo.svg" alt="telegram logo">
        </a>
        <a href="#">
          <img src="assets/images/google-groups-logo.svg" alt="telegram logo">
        </a>
        <a href="#">
          <img src="assets/images/twitter-logo.svg" alt="telegram logo">
        </a>
        <a href="#">
          <img src="assets/images/github-logo.svg" alt="telegram logo">
        </a>
      </div>
    </app-grid>
  </app-grid>
</app-grid>
