<app-grid class="container">
  <app-grid direction="column" align="flex-start" class="left">
    <img src="assets/images/golang.svg" alt="golang-logo" class="golang-logo">
    <div class="title purple">
      Community
    </div>
    <div class="large-desc grey">
      Gophers let's huddle up and dig some whole together
    </div>
    <div class="button-container">
      <app-button [round]="true" [color]="'purple'">See Events</app-button>
    </div>
  </app-grid>
  <app-grid class="right">
    <div>
      Picture
    </div>
    <app-grid>
      <div>
        Join Us
      </div>
      <div>
        Icons
      </div>
    </app-grid>
  </app-grid>
</app-grid>
